.shadow { 
	 /*-fx-effect: dropshadow(three-pass-box, black, 0, 9, -5, 0);
  	-fx-effect: dropshadow(three-pass-box, black, 0, 9, 0, -5);
  	-fx-effect: dropshadow(three-pass-box, black, 0, 9, 0, 5);
	-fx-effect: dropshadow(three-pass-box, black, 0.2, 1, 5.0, 0.0);*/
	
	
  	-fx-effect: dropshadow(  three-pass-box  , rgba(0,0,0,0.5), 5, 0, 0,  0);
}

.border { 
	-fx-border-width: 1;
	-fx-border-color: black;
}

.shadow-right { 
  	-fx-effect: dropshadow(  three-pass-box  , rgba(0,0,0,0.5), 2, 0, 2.0,  0.0);
}

.shadow-left { 
  	-fx-effect: dropshadow(  three-pass-box  , rgba(0,0,0,0.5), 2, 0, -2.0,  0.0);
}

.shadow-top { 
  	-fx-effect: dropshadow(  three-pass-box  , rgba(0,0,0,0.5), 2, 0, 0,  -2.0);
}

.shadow-bottom { 
  	-fx-effect: dropshadow(  three-pass-box  , rgba(0,0,0,0.5), 2, 0, 0,  2.0);
}

.button-mainmenu
{
	-fx-pref-height: 70px;
    -fx-pref-width: 200px;
    -fx-background-color: transparent;
}

.button-mainmenu:buttonHover
{
	-fx-background-color: #2492e0;
}
 
.button-mainmenu:buttonPressed
{
  -fx-background-color: #2369B5;
}
 
.button-mainmenu:buttonSelected
{
	-fx-background-color: #2492e0;
}
